.head{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.head p{
    width: 50%;
    text-align: justify;
    line-height: 35px;
    font-size:1.1rem;
}
.head img{
    width: 250px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 8px 10px 8px rgb(92, 92, 92);
}
p{
    line-height: 1.2rem;
}
h4{
   margin-bottom: 10px;
}